body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 800;
    margin-top: 0;
}
h2{
    font-size: 40px;
    margin-bottom: 20px;
}
p{
    color: #7e7e7e;
    padding-bottom: 30px;
}
.pink-highlight{
    color: #EC4C7A;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 4%;
}
.half-width img{
    width: 100%;
}
.link-button {
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 5px;
    color: white;
	background-image: linear-gradient(45deg,#EC5299,#ED4B6F);
}
.header-area{
    background-image: url("images/header-bg.png"); 
    background-size: cover;
}
section{
    height: 500px;
    padding: 70px 0;
}
.biography-area{
    background-image: url("images/biography-bg.png");
    background-size: cover;
}
.biography-area h2{
    padding-top: 70px;
}
.latest-work-area h2{
    text-align: center;
    padding-bottom: 60px;
}
.single-work{
    width: 25%;
    float: left;
    margin-left: 6%;
}
.single-work img{
    width: 100%;
}
.latest-work-area{
    background-image: url("images/latest-work-bg.png");
    background-size: cover;
}
.skill-area h2{
    padding-bottom: 60px;
    text-align: center;
}
.skill-area{
    width: 500px;
    height: 400px;
    margin-left: 32%;
}
.skill-area li{
    margin: 20px 0;
    list-style: none;
}
.bar {
	background-color: #d713138f;
	display: block;
	height: 2px;
	border: 1px solid #d01111;
	border-radius: 3px;
	box-shadow: 0 0 10px #e7219a;
}
.html{
    width: 95%;
}
.css{
    width: 90%;
}
.react{
    width: 80%;
}
.js{
    width: 85%;
}
.timeline-area{
    background-color: #ececec;
}
.timeline-heading {
    text-align: center;
}
.experience{
    margin: 40px auto;
    width: 50%;
    border-left: 2px solid #ccc;
    padding: 0 20px 0 30px;
}
.single-experience h2{
    font-size: 23px;
}
.single-experience {
	background-image: linear-gradient(-45deg,#EC5299,#ED4B6F);
	padding: 10px 25px;
	font-size: 16px;
	border: 1px solid #ccc;
	position: relative;
    margin: 10px 0px;
    color: white;
}
.single-experience::before{
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ED4B6F;
    border: 3px solid #dddddd;
    top: 10px;
    left: -40px;
}
.single-experience::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #ED4B6F transparent transparent;
    border-width: 8px;
    top: 10px;
    left: -17px;
}
.client-area{
    text-align: center;
    background-image: url("images/client-bg.png"); 
    background-size: cover;
}
.client-review h3{
    padding-top: 50px;
    margin: 10px;
    color:#2E3235;
}
.client-review h5{
    margin: 0;
    padding: 0;
    color: #9A9A9A;
}
.client-review p{
    color: #3b3b3b;
    font-weight: 600;
    padding-top: 20px;
}
.contact-info {
	color: white;
	background-image: linear-gradient(45deg,#EC5299,#ED4B6F);
	width: 55%;
	height: 28%;
	border-radius: 10px;
	margin-left: 23%;
	padding-top: 40px;
}
.contact-info p{
    color: white;
    padding: 0;
}
footer {
    text-align: center;
}